<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/about/">Acerca de mi</a>
		<a href="/blog/">Blog</a>
		<h1>Astro</h1>
		<h1>Mi sitio Astro</h1>
        <h2>.. !y mi nuevo sitio Astro! </h2>
        <p>Estoy trabajando en el tutorial introductorio de Astro.Esta es la segunda pagina de mi sitio web y es la primera que he construido yo solo</p>
				<p>Este sitio se ira actualizando a medida que vaya completando  mas partes del tutorial</p>

	</body>
</html>