---
import BaseLayout from '../layouts/BaseLayout.astro'

const pageTitle = 'Acerca de mi'

const identity = {
  firstName: 'Luis Alberto Moreno Silva',
  country: 'Venezuela',
  occupation: 'Technical writer',
  hobbies: ['fotografia', 'Beber', 'Basket'],
}

const skill = ['HTML', 'CSS', 'JavaScript', 'Astro', 'git']

const skillColor = 'navy'
const identityColor = 'red'
const fontWeight = 'bold'
const textTransform = 'uppercase'
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Estoy trabajando en el tutorial introductorio de Astro.Esta es la segunda
    pagina de mi sitio web y es la primera que he construido yo solo
  </p>
  <p>
    Este sitio se ira actualizando a medida que vaya completando mas partes del
    tutorial
  </p>

  <p>Aqui algunos datos acerca de mi</p>
  <h2>Mi impresionante subtítulo del blog</h2>
  <p>Hola Maricon</p>
</BaseLayout>
